@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #343434;
  font-family: 'Roboto', sans-serif;
}

.botDescription {
  color: #DADADA;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}

.addButton {
  background-color: #5865F2;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.voteButton {
  background-color: #4CC9F0;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  margin-top: 10px;
}


.placeHolderBotsText {
  color: #5865F2;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.botPageAvatar {
  border-radius: 10px;
  float: left;
  margin-right: 20px;
}

.botPageTitle {
  color: #FFFFFF;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.botPageData {
  text-align: right;
  color: #FFFFFF;
  float: right;
}

.info {
  color: #FF0000;
}

.formQuestion {
  color: #FFFFFF;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.formInput {
  background-color: gray;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  inline-size: 500px;
  margin-top: 20px;
}

.formInput:disabled {
  background-color: #484848;
}

.successCard {
  background-color: #484848;
  border-radius: 10px;
}

.errorCard {
  background-color: #FF0000;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  margin-top: 20px;
}

.addCard {
  background-color: #484848;
  border-radius: 10px;
}

.avatar {
  border-radius: 100px;
}

.dcicon {
  float: left;
  justify-content: center;
  align-items: center;
}

.navbarlogo {
  border-radius: 100px;
}

.loginbutton {
  background-color: #5865F2;
  box-shadow: 2px 2px #1E1E1E;
}

.loginbutton:hover {
  background-color: #4B5BD3;
}

.heroTitle {
  color: #FFFFFF;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.heroSubtitle {
  color: #4CC9F0;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.botCard {
  background-color: #484848;
  border-radius: 10px;
}

.botCard:hover {
  background-color: #3A3A3A;
}

.botCardTitle {
  color: #FFFFFF;
  font-size: 24px;
  margin-left: 90px;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}

.botCardDescription {
  color: #DADADA;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  clear: left;
}

.botCardAvatar {
  border-radius: 10px;
  float: left;
}

.searchInput {
  background-color: #484848;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  margin-top: 20px;
  width: 50%;
  float: left;
}

.searchButton {
  background-color: #5865F2;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  margin-top: 20px;
  margin-left: 10px;
}
